.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.669434;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.893555;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:421.960000px;}
.fc2{color:rgb(0,176,80);}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:32.000000px;}
.fs0{font-size:44.000000px;}
.fs3{font-size:48.000000px;}
.fs2{font-size:64.000000px;}
.fs1{font-size:80.000000px;}
.yf{bottom:13.028000px;}
.y6{bottom:17.349998px;}
.y5{bottom:17.724999px;}
.y7{bottom:21.534999px;}
.ye{bottom:26.826996px;}
.y4{bottom:37.255998px;}
.yd{bottom:40.625999px;}
.yc{bottom:54.425003px;}
.yb{bottom:68.224003px;}
.ya{bottom:82.023003px;}
.y3{bottom:82.299998px;}
.y9{bottom:95.822001px;}
.y2{bottom:98.144998px;}
.y23{bottom:185.562991px;}
.y22{bottom:199.362002px;}
.y21{bottom:213.161014px;}
.y20{bottom:226.959994px;}
.y1f{bottom:268.356997px;}
.y1e{bottom:309.754001px;}
.y1d{bottom:351.150997px;}
.y1c{bottom:364.949997px;}
.y1b{bottom:378.748996px;}
.y1a{bottom:406.346998px;}
.y19{bottom:420.772998px;}
.y0{bottom:446.000000px;}
.y18{bottom:448.593002px;}
.y17{bottom:462.392002px;}
.y16{bottom:476.191002px;}
.y15{bottom:489.990001px;}
.y14{bottom:517.588000px;}
.y13{bottom:558.985003px;}
.y12{bottom:600.382003px;}
.y10{bottom:614.181003px;}
.y11{bottom:617.817003px;}
.y1{bottom:625.384003px;}
.y8{bottom:675.525002px;}
.ha{height:22.234375px;}
.h4{height:29.326172px;}
.hb{height:32.531250px;}
.h7{height:32.812500px;}
.h6{height:32.959999px;}
.h9{height:33.351562px;}
.h5{height:43.750000px;}
.h3{height:53.320312px;}
.h8{height:107.400002px;}
.h2{height:130.615997px;}
.h1{height:332.000000px;}
.h0{height:792.000000px;}
.w2{width:205.375000px;}
.w1{width:494.500000px;}
.w0{width:612.000000px;}
.x1{left:0.000000px;}
.x6{left:13.325000px;}
.x0{left:34.000000px;}
.x2{left:72.000000px;}
.x4{left:151.124001px;}
.x3{left:288.000000px;}
.x5{left:406.625000px;}
.x7{left:432.000000px;}
.x8{left:444.000000px;}
.x9{left:450.223000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:562.613333pt;}
.fs4{font-size:42.666667pt;}
.fs0{font-size:58.666667pt;}
.fs3{font-size:64.000000pt;}
.fs2{font-size:85.333333pt;}
.fs1{font-size:106.666667pt;}
.yf{bottom:17.370667pt;}
.y6{bottom:23.133331pt;}
.y5{bottom:23.633333pt;}
.y7{bottom:28.713332pt;}
.ye{bottom:35.769328pt;}
.y4{bottom:49.674664pt;}
.yd{bottom:54.167999pt;}
.yc{bottom:72.566671pt;}
.yb{bottom:90.965337pt;}
.ya{bottom:109.364004pt;}
.y3{bottom:109.733331pt;}
.y9{bottom:127.762669pt;}
.y2{bottom:130.859997pt;}
.y23{bottom:247.417322pt;}
.y22{bottom:265.816003pt;}
.y21{bottom:284.214685pt;}
.y20{bottom:302.613326pt;}
.y1f{bottom:357.809330pt;}
.y1e{bottom:413.005334pt;}
.y1d{bottom:468.201330pt;}
.y1c{bottom:486.599996pt;}
.y1b{bottom:504.998661pt;}
.y1a{bottom:541.795998pt;}
.y19{bottom:561.030664pt;}
.y0{bottom:594.666667pt;}
.y18{bottom:598.124003pt;}
.y17{bottom:616.522669pt;}
.y16{bottom:634.921336pt;}
.y15{bottom:653.320001pt;}
.y14{bottom:690.117334pt;}
.y13{bottom:745.313338pt;}
.y12{bottom:800.509337pt;}
.y10{bottom:818.908003pt;}
.y11{bottom:823.756004pt;}
.y1{bottom:833.845337pt;}
.y8{bottom:900.700002pt;}
.ha{height:29.645833pt;}
.h4{height:39.101562pt;}
.hb{height:43.375000pt;}
.h7{height:43.750000pt;}
.h6{height:43.946665pt;}
.h9{height:44.468750pt;}
.h5{height:58.333333pt;}
.h3{height:71.093750pt;}
.h8{height:143.200002pt;}
.h2{height:174.154663pt;}
.h1{height:442.666667pt;}
.h0{height:1056.000000pt;}
.w2{width:273.833333pt;}
.w1{width:659.333333pt;}
.w0{width:816.000000pt;}
.x1{left:0.000000pt;}
.x6{left:17.766666pt;}
.x0{left:45.333333pt;}
.x2{left:96.000000pt;}
.x4{left:201.498667pt;}
.x3{left:384.000000pt;}
.x5{left:542.166667pt;}
.x7{left:576.000000pt;}
.x8{left:592.000000pt;}
.x9{left:600.297333pt;}
}
